{% extends 'base_public.html' %}
{% load i18n static %}

{% block title %}
    {% trans 'Последняя активность' %} :: {{ block.super }}
{% endblock %}

{% block content %}
    <section class="home">
        <div class="container">
            <div class="block-grey">
                <h2 class="block-grey__title">
                    {% trans 'Публикации' %}
                    <form action="" method="get" class="main-title">
                        <select name="select-data" id="select-data" class="form-control selectpicker"
                                onchange="this.form.submit();">
                            <option value="">{% trans 'Выбрать по дате...' %}</option>
                            <option value="date-created-desc">{% trans 'Дата создании по убыванию' %}</option>
                            <option value="date-created-asc">{% trans 'Дата создании по возрастанию' %}</option>
                            <option value="date-publications-desc">{% trans 'Дата публикации по убыванию' %}</option>
                            <option value="date-publications-asc">{% trans 'Дата публикации по возрастанию' %}</option>
                        </select>
                    </form>
                </h2>
                <div class="works-table p-0">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th style="width: 1%">#</th>
                            <th style="width: 300px">{% trans 'Название' %}</th>
                            <th style="width: 1%" class="text-center">{% trans 'Баллы' %}</th>
                            <th style="width: 15%" class="text-center">{% trans 'Дата создания' %}</th>
                            <th style="width: 16%" class="text-center">{% trans 'Дата публикации' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for post in post_list %}
                            <tr>
                                <th>{{ forloop.counter0|add:page_obj.start_index }}</th>
                                <td>
                                    <div class="table-name">
                                        <p><a href="{% url 'post_public:detail' post.id %}">
                                            {% if post.title == "" %}
                                                {% trans 'Без названия' %}
                                            {% else %}
                                                {{ post.title }}
                                            {% endif %}
                                        </a></p>
                                        <span>{% trans 'Автор' %}: {{ post.teacher.get_short_name }}</span>
                                    </div>
                                </td>
                                <td class="text-center">{{ post.category.coefficient }}</td>
                                <td class="text-center" style="white-space: nowrap">{{ post.created.date }}</td>
                                <td class="text-center" style="white-space: nowrap">{{ post.date }}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="5" class="text-center text-muted fst-italic">
                                    {% trans 'Нет данных' %}
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                    {% load paginator %}
                    {% get_public_pagination %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>
        $(function () {
            $('.selectpicker').selectpicker();
        });
    </script>
{% endblock %}
