{% extends '../../base_admin.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="main-title d-flex align-items-center justify-content-between">
            <h1 class="">Преподаватели</h1>
            <a href="#openAddTeacher" class="openAddTeacherBtn btn btn-primary">Добавить</a>
        </div>

        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{% url 'index_admin:index' %}">Главная</a></li>
            <li class="breadcrumb-item active">Учителя</li>
        </ol>
        <form action="" method="get" class="main-title ">
            <select name="select-status" id="select-status" onchange="this.form.submit();">
                <option value="">Select by status...</option>
                <option value="1">Постоянный</option>
                <option value="2">Совместитель</option>
                <option value="3">Выбыл</option>
                <option value="4">почасовик</option>
            </select>
        </form>


        <div class="main-table">
            <table class="interior-table ">
                <thead>
                <tr>
                    <th width="1%">№</th>
                    <th width="200px">Ф.И.О</th>
                    <th width="150px">Кафедра</th>
                    <th width="100px">Должность</th>
                    <th width="50">Статус</th>
                    <th width="1%"></th>
                    <th width="1%"></th>
                </tr>
                </thead>
                <tbody class="tbody">
                {% for teacher in teacher_list %}
                    <tr>
                        <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                        <td>{{ teacher.get_full_name }}</td>
                        <td>{{ teacher.department.name }}</td>
                        <td>{{ teacher.position }}</td>
                        <td>{{ teacher.get_status_display }}</td>
                        <td>
                            <a href="#openEditTeacher"
                               data-url="{% url 'api_user:teacher_get_update_delete' teacher.id %}"
                               class="badge bg-primary openEditTeacherBtn"><i class="fas fa-edit"></i></a>
                        </td>
                        <td>
                            <a href="#openDeleteTeacher"
                               data-url="{% url 'api_user:teacher_get_update_delete' teacher.id %}"
                               class="badge bg-danger openDeleteTeacherBtn"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
            {% load paginator %}
            {% get_public_pagination %}
        </div>

    </div>
{% endblock %}


{% block modals %}
    <!-- Modals -->
    <div id="openAddTeacher" class="white-popup white-popup__middle mfp-with-anim mfp-hide">
        <div class="popup-main">
            <div class="popup-title">
                <h2>Добавить</h2>
            </div>
            <div class="popup-content">
                <form action="">
                    <ul class="nav nav-pills mb-3" id="addTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="addTab1" data-toggle="pill" href="#addPills1" role="tab"
                               aria-selected="true">Uz</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="addTab2" data-toggle="pill" href="#addPills2" role="tab"
                               aria-selected="false">Ru</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="addTab3" data-toggle="pill" href="#addPills3" role="tab"
                               aria-selected="false">En</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="addPills">
                        <div class="tab-pane fade show active" id="addPills1" role="tabpanel">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="firstname_uz">Имя(uz):</label>
                                        <input type="text" class="form-control" name="firstname_uz" id="firstname_uz">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lastname_uz">Фамилия(uz):</label>
                                        <input type="text" class="form-control" name="lastname_uz" id="lastname_uz">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="middlename_uz">Отчество(uz):</label>
                                        <input type="text" class="form-control" name="middlename_uz" id="middlename_uz">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="position_uz">Должность(uz):</label>
                                        <input type="text" class="form-control" name="position_uz" id="position_uz">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="addPills2" role="tabpanel">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="firstname_ru">Имя(ru):</label>
                                        <input type="text" class="form-control" name="firstname_ru" id="firstname_ru"
                                               required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lastname_ru">Фамилия(ru):</label>
                                        <input type="text" class="form-control" name="lastname_ru" id="lastname_ru"
                                               required>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="middlename_ru">Отчество(ru):</label>
                                        <input type="text" class="form-control" name="middlename_ru" id="middlename_ru">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="position_ru">Должность(ru):</label>
                                        <input type="text" class="form-control" name="position_ru" id="position_ru">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="addPills3" role="tabpanel">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="firstname_en">Имя(en):</label>
                                        <input type="text" class="form-control" name="firstname_en" id="firstname_en">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lastname_en">Фамилия(en):</label>
                                        <input type="text" class="form-control" name="lastname_en" id="lastname_en">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="middlename_en">Отчество(en):</label>
                                        <input type="text" class="form-control" name="middlename_en" id="middlename_en">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="position_en">Должность(en):</label>
                                        <input type="text" class="form-control" name="position_en" id="position_en">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="level">Ученная степень:</label>
                                <select class="selectpicker form-control" name="level" id="level" required
                                        title="Выберите">
                                    <option value="" selected>отсутствует</option>
                                    {% for teacterlevel in teacher_level_list %}
                                        <option value="{{ teacterlevel.id }}">{{ teacterlevel.name_ru }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="academic-level">Ученое звание:</label>
                                <select class="selectpicker form-control" name="academic-level" id="academic-level"
                                        required
                                        title="Выберите">
                                    <option value="" selected>отсутствует</option>
                                    {% for teacteracademiclevel in teacher_academic_level_list %}
                                        <option value="{{ teacteracademiclevel.id }}">{{ teacteracademiclevel.name_ru }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="department">Кафедра:</label>
                                <select class="selectpicker form-control" name="department" id="department" required>
                                    {% for department in department_list %}
                                        <option value="{{ department.id }}">{{ department.name_ru }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="uuid">ID:</label>
                                <input type="text" class="form-control" name="uuid" id="uuid">
                            </div>
                            <div class="form-group">
                                <label for="status">Статус:</label>
                                <select class="selectpicker form-control" name="status" id="status" required>
                                    <option value="1">Постоянный</option>
                                    <option value="2">совместитель</option>
                                    <option value="3">Выбыл</option>
                                    <option value="4">почасовик</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-avatar">
                                <div class="avatar-upload">
                                    <div class="avatar-edit">
                                        <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg">
                                        <label for="imageUpload"><i class="fas fa-pencil-alt"></i></label>
                                    </div>
                                    <div class="avatar-preview">
                                        <div id="imagePreview"
                                             style="background-image: url();">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="popup-footer">
                <a href="#" class="btn btn-close">Отменить</a>
                <a id="saveAddTeacher" href="#" class="btn btn-primary">Сохранить</a>
            </div>
        </div>
    </div>

    <div id="openEditTeacher" class="white-popup white-popup__middle mfp-with-anim mfp-hide">
        <div class="popup-main">
            <div class="popup-title">
                <h2>Редактировать</h2>
            </div>
            <div class="popup-content">
                <form action="">
                    <ul class="nav nav-pills mb-3" id="editTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="editTab1" data-toggle="pill" href="#editPills1" role="tab"
                               aria-selected="true">Uz</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="editTab2" data-toggle="pill" href="#editPills2" role="tab"
                               aria-selected="false">Ru</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="editTab3" data-toggle="pill" href="#editPills3" role="tab"
                               aria-selected="false">En</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="editPills">
                        <div class="tab-pane fade show active" id="editPills1" role="tabpanel">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="firstname_uzE">Имя(uz):</label>
                                        <input type="text" class="form-control" name="firstname_uzE" id="firstname_uzE">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lastname_uzE">Фамилия(uz):</label>
                                        <input type="text" class="form-control" name="lastname_uzE" id="lastname_uzE">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="middlename_uzE">Отчество(uz):</label>
                                        <input type="text" class="form-control" name="middlename_uzE"
                                               id="middlename_uzE">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="position_uzE">Должность(uz):</label>
                                        <input type="text" class="form-control" name="position_uzE" id="position_uzE">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="editPills2" role="tabpanel">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="firstname_ruE">Имя(ru):</label>
                                        <input type="text" class="form-control" name="firstname_ruE" id="firstname_ruE">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lastname_ruE">Фамилия(ru):</label>
                                        <input type="text" class="form-control" name="lastname_ruE" id="lastname_ruE">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="middlename_ruE">Отчество(ru):</label>
                                        <input type="text" class="form-control" name="middlename_ruE"
                                               id="middlename_ruE">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="position_ruE">Должность(ru):</label>
                                        <input type="text" class="form-control" name="position_ruE" id="position_ruE">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="editPills3" role="tabpanel">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="firstname_enE">Имя(en):</label>
                                        <input type="text" class="form-control" name="firstname_enE" id="firstname_enE">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="lastname_enE">Фамилия(en):</label>
                                        <input type="text" class="form-control" name="lastname_enE" id="lastname_enE">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="middlename_enE">Отчество(en):</label>
                                        <input type="text" class="form-control" name="middlename_enE"
                                               id="middlename_enE">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="position_enE">Должность(en):</label>
                                        <input type="text" class="form-control" name="position_enE" id="position_enE">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="levelE">Ученная степень:</label>
                                <select class="selectpicker form-control" name="levelE" id="levelE" required
                                        title="Выберите">
                                    <option value="" selected>отсутствует</option>
                                    {% for teacterlevel in teacher_level_list %}
                                        <option value="{{ teacterlevel.id }}">{{ teacterlevel.name_ru }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="academic-levelE">Ученое звание:</label>
                                <select class="selectpicker form-control" name="academic-levelE" id="academic-levelE"
                                        required
                                        title="Выберите">
                                    <option value="" selected>отсутствует</option>
                                    {% for teacteracademiclevel in teacher_academic_level_list %}
                                        <option value="{{ teacteracademiclevel.id }}">{{ teacteracademiclevel.name_ru }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="departmentE">Кафедра:</label>
                                <select class="selectpicker form-control" name="departmentE" id="departmentE">
                                    {% for department in department_list %}
                                        <option value="{{ department.id }}">{{ department.name_ru }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="uuidE">ID:</label>
                                <input type="text" class="form-control" name="uuidE" id="uuidE">
                            </div>
                            <div class="form-group">
                                <label for="statusE">Статус:</label>
                                <select class="selectpicker form-control" name="statusE" id="statusE"
                                        onchange="toggleExtDateField()">
                                    <option value="1">Постоянный</option>
                                    <option value="2">Совместитель</option>
                                    <option value="3">Выбыл</option>
                                    <option value="4">Почасовик</option>
                                </select>
                            </div>
                            <div class="form-group" id="extDateGroup" style="display: none;">
                                <label for="ext_date">Дата выбытия:</label>
                                <input type="date" class="form-control" name="ext_date" id="ext_date">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-avatar">
                                <div class="avatar-upload">
                                    <div class="avatar-edit">
                                        <input type="file" id="imageUploadE" accept=".png, .jpg, .jpeg">
                                        <label for="imageUploadE"><i class="fas fa-pencil-alt"></i></label>
                                    </div>
                                    <div class="avatar-preview">
                                        <div id="imagePreviewE"
                                             style="background-image: url();">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="popup-footer">
                <a href="#" class="btn btn-close">Отменить</a>
                <a id="saveEditTeacher" href="#" class="btn btn-primary">Сохранить</a>
            </div>
        </div>
    </div>

    <div id="openDeleteTeacher" class="white-popup mfp-with-anim mfp-hide">
        <div class="popup-main">
            <div class="popup-title">
                <h2>Удалить</h2>
            </div>
            <div class="popup-content">
                <p>Вы действительно хотите удалить ?</p>
            </div>
            <div class="popup-footer">
                <a href="#" class="btn btn-close">Отменить</a>
                <a id="deleteTeacherBtn" href="#" class="btn btn-delete">Удалить</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        const url_string = window.location.href;
        const url = new URL(url_string);
        const select_status = url.searchParams.get("select-status");
        if (select_status !== null) {
            $('#select-status').val(select_status)
        }

        $('.openAddTeacherBtn').magnificPopup({
            removalDelay: 500,
            callbacks: {
                beforeOpen: function () {
                    this.st.mainClass = this.st.el.attr('data-effect');
                }
            },
            midClick: true
        });

        function toggleExtDateField() {
            let statusSelect = document.getElementById("statusE");
            let extDateGroup = document.getElementById("extDateGroup");
            let selectedValue = statusSelect.value;

            if (selectedValue === "3") {
                extDateGroup.style.display = "block";
            } else {
                extDateGroup.style.display = "none";
            }
        }

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                    $('#imagePreview').hide();
                    $('#imagePreview').fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imageUpload").change(function () {
            readURL(this);
        });

        function readURLE(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreviewE').css('background-image', 'url(' + e.target.result + ')');
                    $('#imagePreviewE').hide();
                    $('#imagePreviewE').fadeIn(650);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imageUploadE").change(function () {
            readURLE(this);
        });

        $("#saveAddTeacher").click(function (e) {
            e.preventDefault();

            let formData = new FormData();

            formData.append("first_name_uz", $("#firstname_uz").val());
            formData.append("first_name_ru", $("#firstname_ru").val());
            formData.append("first_name_en", $("#firstname_en").val());

            formData.append("last_name_uz", $("#lastname_uz").val());
            formData.append("last_name_ru", $("#lastname_ru").val());
            formData.append("last_name_en", $("#lastname_en").val());

            formData.append("father_name_uz", $("#middlename_uz").val());
            formData.append("father_name_ru", $("#middlename_ru").val());
            formData.append("father_name_en", $("#middlename_en").val());

            formData.append("position_uz", $("#position_uz").val());
            formData.append("position_ru", $("#position_ru").val());
            formData.append("position_en", $("#position_en").val());

            formData.append("level", $("#level").val());
            formData.append("academic_title", $("#academic-level").val());
            formData.append("department", $("#department").val());

            formData.append("status", $("#status").val());
            formData.append("uuid", $("#uuid").val());

            for (let i = 0; i < $("#imageUpload")[0].files.length; i++) {
                formData.append('image', $("#imageUpload")[0].files[i]);
            }

            let url = "{% url 'api_user:teacher_create' %}";

            $.ajax({
                headers: {"X-CSRFToken": "{{csrf_token}}"},
                url: url,
                processData: false,
                contentType: false,
                method: 'POST',
                data: formData,
                success: function (data) {
                    //alert('успех!');
                    location.reload();
                },
                error: function (data) {
                    alert('Ошибка');
                }
            });
        });

        /* Update */
        var edit_url = "";
        $('.openEditTeacherBtn').magnificPopup({
            removalDelay: 500,
            callbacks: {
                beforeOpen: function () {
                    this.st.mainClass = this.st.el.attr('data-effect');
                }
            },
            midClick: true
        });
        $('.openEditTeacherBtn').click(function () {
            edit_url = $(this).data('url');
            let extDateGroup = document.getElementById("extDateGroup");


            $.getJSON(`${edit_url}`, function (data) {

                $("#firstname_uzE").val(data.first_name_uz);
                $("#firstname_ruE").val(data.first_name_ru);
                $("#firstname_enE").val(data.first_name_en);

                $("#lastname_uzE").val(data.last_name_uz);
                $("#lastname_ruE").val(data.last_name_ru);
                $("#lastname_enE").val(data.last_name_en);

                $("#middlename_uzE").val(data.father_name_uz);
                $("#middlename_ruE").val(data.father_name_ru);
                $("#middlename_enE").val(data.father_name_en);

                $("#position_uzE").val(data.position_uz);
                $("#position_ruE").val(data.position_ru);
                $("#position_enE").val(data.position_en);

                $("#levelE").val(data.level);
                $("#academic-levelE").val(data.academic_title);
                $("#departmentE").val(data.department);

                $("#uuidE").val(data.uuid);
                $("#statusE").val(data.status);

                if (data.status === 3) {
                    extDateGroup.style.display = "block";
                    $("#ext_date").val(data.ext_date);
                } else {
                    extDateGroup.style.display = "none";
                }


                $('#imagePreviewE').css('background-image', 'url(' + data.image + ')');

                setTimeout(function () {
                    $('.selectpicker').selectpicker('refresh');
                }, 500);
            });
        });

        $("#saveEditTeacher").click(function (e) {
            e.preventDefault();

            let formData = new FormData();

            formData.append("first_name_uz", $("#firstname_uzE").val());
            formData.append("first_name_ru", $("#firstname_ruE").val());
            formData.append("first_name_en", $("#firstname_enE").val());

            formData.append("last_name_uz", $("#lastname_uzE").val());
            formData.append("last_name_ru", $("#lastname_ruE").val());
            formData.append("last_name_en", $("#lastname_enE").val());

            formData.append("father_name_uz", $("#middlename_uzE").val());
            formData.append("father_name_ru", $("#middlename_ruE").val());
            formData.append("father_name_en", $("#middlename_enE").val());

            formData.append("position_uz", $("#position_uzE").val());
            formData.append("position_ru", $("#position_ruE").val());
            formData.append("position_en", $("#position_enE").val());

            formData.append("level", $("#levelE").val());
            formData.append("academic_level", $("#academic-levelE").val());
            formData.append("department", $("#departmentE").val());

            formData.append("uuid", $("#uuidE").val());
            formData.append("status", $("#statusE").val());

            if ($("#ext_date").val()) {
                formData.append("ext_date", $("#ext_date").val());
            }

            for (let i = 0; i < $("#imageUploadE")[0].files.length; i++) {
                formData.append('image', $("#imageUploadE")[0].files[i]);
            }

            let url = edit_url;

            $.ajax({
                headers: {"X-CSRFToken": "{{csrf_token}}"},
                url: url,
                processData: false,
                contentType: false,
                method: 'PUT',
                data: formData,
                success: function (data) {
                    //alert('успех!');
                    location.reload();
                },
                error: function (data) {
                    alert('Ошибка');
                }
            });
        });

        /* Delete */
        var delete_url = "";
        $('.openDeleteTeacherBtn').magnificPopup({
            removalDelay: 500,
            callbacks: {
                beforeOpen: function () {
                    this.st.mainClass = this.st.el.attr('data-effect');
                }
            },
            midClick: true
        });

        $('.openDeleteTeacherBtn').click(function () {
            delete_url = $(this).data('url');
        });

        $("#deleteTeacherBtn").click(function (event) {
            event.preventDefault();

            let url = delete_url;

            $.ajax({
                headers: {"X-CSRFToken": "{{csrf_token}}"},
                url: url,
                method: 'DELETE',
                success: function (data) {
                    //alert('успех!');
                    location.reload();
                },
                error: function (data) {
                    alert('Ошибка');
                }
            });
        });

        $('.btn-close').click(function (event) {
            event.preventDefault();

            $.magnificPopup.close();
        });
    </script>
{% endblock %}
