{% extends 'base_public.html' %}
{% load i18n static %}

{% block title %}
    {% trans 'Преподаватели' %} :: {{ block.super }}
{% endblock %}

{% block content %}
    <section class="home">
        <div class="container">
            <form class="form-search" action="" method="get">
                <div>
                    <div class="form-group justify-content-end gap-2 d-flex mb-2">
                        <a href="#" class="btn btn-primary receiptExcel mx-0 mr-2" id="excelButton">
                            {% trans 'Экспорт на Excel' %}
                        </a>
                        {% if academic_year_list %}
                            <select name="academic_year" id="yearInput" class="form-select"
                                    style="width: 200px">
                                {% for academic_year in academic_year_list %}
                                    {% if request.GET.academic_year %}
                                        <option value="{{ academic_year.id }}"
                                                {% if academic_year.id == request.GET.academic_year|add:"0" %}
                                                selected {% endif %}>{{ academic_year.years }}</option>
                                    {% else %}
                                        <option value="{{ academic_year.id }}"
                                                {% if academic_year.id == current_academic_year %}
                                                selected {% endif %}>{{ academic_year.years }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            </div>
                        {% endif %}
                </div>
                <div class="block-grey">
                    <div class="row">
                        <div class="col-md-3">
                            <select name="department" class="form-control" data-live-search="true"
                                    title="{% trans 'Кафедра' %}">
                                <option value="">{% trans 'Все' %}</option>
                                {% for department in department_list %}
                                    <option value="{{ department.id }}">{{ department.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <input type="text" name="name" class="form-control" placeholder="{% trans 'Ф.И.О' %}">
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <input type="text" name="uuid" class="form-control" placeholder="ID">
                        </div>
                        <div class="col">
                            <select name="level" class="form-select" data-live-search="true"
                                    title="{% trans 'Ученые степени' %}">
                                <option value="">{% trans 'Все' %}
                                    {% for level in teacher_level_list %}
                                        <option value="{{ level.id }}">{{ level.name }}</option>
                                    {% endfor %}
                            </select>
                        </div>

                        <div class="col-md-auto">
                            <button class="btn btn-primary" type="submit">{% trans 'Фильтр' %}</button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="block-grey">
                <h2 class="block-grey__title">{% trans 'Преподаватели' %}</h2>
                <div class="works-table p-0">
                    <table class="table">
                        <thead class="thead-light">
                        <tr>
                            <th style="width:1%">#</th>
                            <th style="width:1%">ID</th>
                            <th style="width:300px">{% trans 'Ф.И.О' %}</th>
                            <th style="width:200px">{% trans 'Кафедра' %}</th>
                            <th style="width:1%">{% trans 'Статус' %}</th>
                            <th style="width:158px">{% trans 'Дата регистрации' %}</th>
                            <th style="width:1%" class="text-center">{% trans 'Баллы' %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for teacher in teacher_list %}
                            <tr>
                                <th>{{ forloop.counter0|add:page_obj.start_index }}</th>
                                {% if teacher.id %}
                                    <th>{{ teacher.id }}</th>
                                {% else %}
                                    <th> -</th>
                                {% endif %}

                                <td>
                                    <a href="{% url 'home_public:teacher_detail' teacher.id %}">{{ teacher.user.get_full_name }}</a>
                                </td>
                                <td>{{ teacher.department.name }}</td>
                                <td>{{ teacher.get_status_display }}</td>
                                <td>{{ teacher.user.created.date }}</td>
                                <td class="text-center">{{ teacher.total_points }}</td>

                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="7" class="text-center text-muted fst-italic">
                                    {% trans 'Нет данных' %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
                {% load paginator %}
                {% get_public_pagination %}
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <script>

        $("#yearInput").on('change', function (e) {
            const year = $("#yearInput").val();
            if (year) window.location.href = `?academic_year=${year}`;
        });
    </script>
    <script>
        document.getElementById("excelButton").addEventListener("click", function () {
            let currentUrl = window.location.href;
            let link = document.getElementById("excelButton");
            let params = new URL(currentUrl).searchParams;
            link.href = "{% url 'api_post:teacher_download_xlsx' %}?" + params;
        });
    </script>
{% endblock %}
